* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: ivory;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Desktop */
@media only screen and (min-width: 32.5em) {
  .movies {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 64em) {
  .movies {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

/* Mobile */
@media only screen and (max-width: 32.4em) {
  
  /* Home Page */

  .searchPage {
    height: 80px;
  }

  .logo {
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  .login {
    float: right;
    margin-top: 25px;
    margin-right: 10px;
  }

  .search {
    margin-top: 25px;
  }

  input {
    margin-left: 20px;
    width: 40%;
  }

  /* Popup's */

  .box {
    width: 80%;
  }

  .content input {
    width: 80%;
    margin-right: 25px;
  }

  .buttons button {
    width: 125px;
    margin: 10px;
    padding-right: 20px;
  }

  .close-icon {
    right: 3%;
    text-align: center;
  }

  /* Review Page */

  .reviews-admin {
    width: 90%;
    margin: 0 auto;
  }

  /*Movies Page*/

  .logo-alt {
    width:100px;
  }


  .button button {
    margin-top: 15px;
    width: 125px;
    height: 50px;
  }

  .movies {
    display: grid;
    grid-template-columns: 100%;
  }
  

  /* Movie Page*/

  .movie p {
    background-color: #181818;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
  }

  .movie {
    margin-right: 25px;
    margin-left: 25px;
    margin: 0 auto;
    width: 80%;
    display: flex;
  }

  .movie img {
    height: 290px;
    width: 190px;
  }

  .Movie button {
    width:110px;
    margin-right: 5px;
    margin-top: 10px;
  }

  .Movie {
    padding-right: 44px;
  }

  .Movie button img{
    width:32px;
  }

  h2 {
    padding: 10px 0 20px 0;
  }

  .reviews span {
    font-size: 16px
  } 

  .reviews section {
    width: 70%;
    font-size: 16px
  }

  .reviews p {
    width: 90%;
    font-size: 16px;
  }

  .reviewButton button {
    width: 125px;
    margin-bottom: 20px;
  }

  textarea {
    width: 80%;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

/* Small Device's */
@media only screen and (max-width: 600px) {
  
  /* Home Page */
  .searchPage {
    height: 100px;
  }
  
  .logo {
    width: 0px;
  }
  
  .login {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
  }


  .search {
    margin-top: 30px;
  }

  input {
    margin-left: 10px;
    width: 60%;
  }

  /* Pop Up */
  .content input {
    width: 80%;
    margin-right: 15px;
  }

  .buttons button {
    margin: 0;
    width: 0px;
    height: 50px;
    font-size: 16px;
    padding-right: 80px;
    padding-left: 0;
    margin-right: 6px;
  }

  .buttons {
    margin-right:10px;
    text-align: center;
    width: 100%;
  }

  /* Review Page */
  .buttons button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
  }

  /*Movies Page*/

  .logo-alt {
    width:0px;
  }


  .button button {
    margin-top: 15px;
    width: 125px;
    height: 50px;
    margin-left: 95px;
  }

  /* Movie Page*/
  .Movie button {
    width: 85px;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    margin-right: 5px;
  }

  .Movie {
    width: 200px;
    padding-left: 60px;
  }

  /* Reviews */

  .reviewButton button {
    width: 125px;
    margin-bottom: 20px;
  }

  .reviewButton {
    padding-right: 225px;
  }

  label,
  .slider {
      margin-left: 10px ;
      height: 25px;
  }

  label {
    padding-right: 20px;
  }
  .pop-button button {
    margin: 0;
    width: 85px;
    margin-right: 10px;
    margin-left: 10px;
  }

}



