* {
  padding: 0;
  margin: 0;
  background-color: black;
}

body {
  color: ivory;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.searchPage,
.movie-title,
nav,
p,
.logo,
button > *,
.content button {
  background-color: #181818;
}

.logo {
  visibility: none;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0px;
}

.logo-dark {
  background-color: black;
}

nav {
  padding: 20px 0;
}

input {
  vertical-align: middle;
  background-color: ivory;
  border: 1px solid ivory;
  border-radius: 5px;
  height: 25px;
  font-size: 25px;
}

.input-search {
  width: 65%;
}

button {
  border: 1px solid #181818;
  border-radius: 5px;
  vertical-align: middle;
}

.button-small {
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

.button-medium {
  background-color: #181818;
  margin-top: 25px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: ivory;
}

.button-login {
  float: right;
  margin-right: 10px;
}

.button-eyeglass {
  margin-left: 10px;
}

.content {
  font-size: 20px;
}

.content input {
  width: 90%;
  margin: 10px 0;
  text-align: center;
}

.content button {
  font-size: 20px;
  height: 45px;
  width: 130px;
  border-radius: 5px;
  color: ivory;
  margin-top: 15px;
}

.content p {
  color: red;
  background-color:  black;
}

section {
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px #181818 solid;
  background-color: #181818;
}

.movies {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 100%;
  margin: 0px 5%;
}

.movies img {
  width: 70%;
  margin: 15px 0;
  box-shadow: 0 0 30px black;
}

.movie {
  padding-top: 15px;
  margin: 0 auto;
  width: 80%;
}

.movie img {
  box-shadow: 0 0 30px black;
}

.movie > section {
  padding: 20px 0;
}

.movie-title {
  padding: 15px 0;
}

.move-details {
  padding: 15px 20px 0 20px;
}

.reviews {
  margin: 0 auto;
  width: 80%;
}

.reviews p {
  padding: 15px 20px 0 20px;
}

.review-header {
  padding-top: 15px;
}

.review-comment {
  margin-bottom: 15px;
}

.slidecontainer {
  margin: -20px 0 10px 0;
}

textarea {
  width: 90%;
  height: 200px;
  margin: 10px 0;
  font-size: 20px;
  background-color: ivory;
}

.reviews-admin {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;

}

.reviews-admin p {
  border-radius: 5px;
  padding: 15px 20px;
}

.reviews-admin section {
  border: 1px solid #f7941d;
  border-radius: 5px;
}

.buttons-icons img {
  height: 40px;
  width: 40px;
  background-color: black;
} 

.buttons-icons button {
  border: 0;
}

.slider {
    background-color: #2f2f2f;
    appearance: none;
    height: 30px;
    color: ivory;
    vertical-align: middle;
    overflow: hidden;
}


@media only screen and (min-width: 32.5em) {
  .logo {
    visibility: visible;
    width: 100px;
  }

  .movies {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 64em) {
  .input-search {
    width: 30%;
  }

  .input-search {
    padding-left: 10px;
  }
  

  .movies {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

@media only screen and (max-width: 24em) {
  .buttons button {
    width: 45%;
    height: 80%;
  }

  .movie > section {
    padding: 20px 20px ;
  }

  .content button {
    font-size: 18px;
    height: 35px;
    margin-top: 10px;
  }
}
