.searchPage {
  background-color: #181818;
  overflow: hidden;
}

.logo {
  width: 200px;
  float: left;
  margin-left: 20px;
}

.login {
  float: right;
  margin: 45px 20px 0 0;
}

.search { 
  margin-top: 45px;
}

input {
  color: #181818;
  background-color: ivory;
  border:1px solid ivory;
  border-radius: 5px;
  font-size: 25px;
  width: 25%;
  padding-left: 10px;
}

.searchPage  button {
  background-color: #181818;
  border: 1px solid #181818;
  border-radius: 5px;
  padding-left: 20px;
}

.searchPage  button img {
  height: 25px;
}