section {
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px #181818 solid;
  background-color: #181818;
}

.movies {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 100%;
  margin: 0px 5% 0px 5%;
}

.movies img {
  margin: 20px;
  width: 50%;
  box-shadow: 0 0 30px black;
}

.button button {
  border: solid 1px #181818;
  background-color: #181818;
  border-radius: 5px;
  color: ivory;
  width: 150px;
  height: 50px;
  margin-top: 20px;
}

.Movies {
  margin-right: 110px;
} 

.Movies button {
  margin: 20px 10px 10px 10px
} 


.back img{
  height: 40px;
}

.logo-alt {
  width: 125px;
  float: left;
}
/* @media only screen and (min-width: 32.5em) {
  .movies {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 64em) {
  .movies {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
} */
