.popup-box {
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  background: black;
  border: 1px solid #f7941d;
  border-radius: 20px;
  position: relative;
  overflow: auto;
  height: auto;
  max-height: 70vh;
  width: 50%;
  margin: 0 auto;
  margin-top: calc(100vh - 85vh - 20px);
  padding: 20px;
}

.content input{
  width: 35%;
  padding-left: 0;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid ivory;
}

.buttons button { 
  font-size: 20px;
  border: solid 1px #181818;
  background-color: #181818;
  border-radius: 5px;
  color: ivory;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: 10px;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: 23.5%;
  top: calc(100vh - 85vh - 33px);
  background: #181818;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #f7941d;
  font-size: 20px;
}
